<header>
  <mat-toolbar id="toolbar" color="secondary">
    <div class="flexParent">
      <div class="flexChildren">
        <a [routerLink]="['/']">
          <img id="logo" src="../assets/Pals_LOGO.png" alt="Dogs" />
        </a>
      </div>
      <div class="flexChildren locationContainer">
        <i class="material-icons md-18">location_on</i>
        <span>Flensburg</span>
      </div>
      <div class="flexChildren">
        <div class="buttonWrapper">
          <button
            mat-stroked-button
            color="primary"
            [routerLink]="['/auth/login']"
            *ngIf="!user"
          >
            Login
          </button>
        </div>
        <!-- <a class="links side" [routerLink]="['/auth/login']" *ngIf="!user">Login</a> -->
        <div>
          <a class="links side" *ngIf="user" [matMenuTriggerFor]="menu">
            <mat-icon>account_circle</mat-icon>{{ user.fullname }}
          </a>
          <mat-menu #menu="matMenu">
            <button
              mat-menu-item
              *ngIf="user && user.isAdmin"
              [routerLink]="['/admin']"
            >
              admin
            </button>
            <button mat-stroked-button color="accent">Accent</button>
            <!-- <button mat-menu-item (click)="logout()">logout</button> -->
          </mat-menu>
        </div>
      </div>
    </div>
  </mat-toolbar>
</header>
