/* HOW TO CREATE CSS FUNCTIONS */
@function color($color-name) {
  @return map-get($colors, $color-name);
}

/* HOW TO USE SCSS VARIABLES AND FUNCTIONS */
/*
  background-color: map-get($colors, secondary);
  background-color: $secondaryColor;
  background-color: color(secondary)
*/

$desktop: 840px;

/* HOW TO CREATE MIXIN (MEDIA QUERIES) **/
@mixin desktop {
  @media (min-width: #{$desktop}) {
    @content;
  }
}
/* HOW TO USE MIXIN */
/*
  .whateverElement{
    some scss before mixin

    @include desktop{
      putWhateverSCSS for the defined size
    }
  }
*/

/* END OF SCSS GUIDE */
/* -------------------------------------------------------------------- */

header {
  .flexParent {
    display: flex;
    flex-direction: row;
    width: 100%;
  }

  #toolbar {
    background-color: #37474F;
  }

  .wrapper {
    display: flex;
    flex-direction: row;
    width: 60%;
  }

  .flexParent{
    display: flex;
    flex-direction: row;
    background-color: #37474F;
    color: white;
  }

  .flexChildren {
    width: 33%;
    height: 80px;
  }

  .locationContainer {
    i {
      padding-right: 10px;
    }

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
  }

  .buttonWrapper {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }

  width: 100%;
  .example-spacer {
    flex: 1 1 auto;
  }

  #toolbar {
    height: 80px;
  }

  .logoWrapper {
    display: flex;
    align-items: center;
  }

  #logo {
    padding-top: 5px;
    height: 90px;
    padding-left: 5px;
  }

  a {
    text-decoration: none;
  }
  .title {
    color: white;
    font-size: 2em;
  }
  .title:hover {
    color: #c11e5c,;
  }
  a:hover {
    color: #c11e5c,;
  }

  .links {
    color: white;
    font-family: 'Helvetica Neue', sans-serif;
    font-size: 15px;
    font-weight: initial;
    letter-spacing: -1px;
    line-height: 1;
    text-align: center;
    padding: 15px;
    &.side {
      padding: 0 14px;
    }
  }
  
  a {
    cursor: pointer;
  }

  #favorit_icon {
    padding-bottom: 4%;
    font-size: 2.2em;
    padding-right: 20px;
  }

  #favorit_icon:hover, #chat_icon:hover, #login_icon:hover, #loggedInIcon:hover {
    cursor: pointer;
    color: #c11e5c;
  }

  #chat_icon {
    padding-bottom: 4%;
    font-size: 2.2em;
    padding-right: 40px;
 }

  #login_icon {
    padding-bottom: 4%;
    font-size: 2.2em;
    padding-right: 20px;
  }

  #loggedInIcon {
    padding-bottom: 4%;
    font-size: 2.5em;
    margin-right: 10px;
  }

  @media only screen and (max-width: 768px) {

    .flexParent {
      display: flex;
      flex-direction: column;
    }

    .flexChildren {
      width: 100%;
      flex-direction: row;
      margin: 0 auto;
    }

    .wrapper {
      display: flex;
      flex-direction: row;
      width: 100%;
    }
  }

}
