/* -------------------------------------------------------------------- */
/* SCSS GUIDE */

/* HOW TO CREATE SCSS VARIABLES AND OBJECTS */
$secondaryColor: #262626;
$colors: (
  primary: #c11e5c,
  secondary: #262626,
  accent: #aebcc3,
  warn: #f44539
);

/* HOW TO CREATE CSS FUNCTIONS */
@function color($color-name) {
  @return map-get($colors, $color-name);
}

/* HOW TO USE SCSS VARIABLES AND FUNCTIONS */
/*
  background-color: map-get($colors, secondary);
  background-color: $secondaryColor;
  background-color: color(secondary)
*/

$desktop: 840px;

/* HOW TO CREATE MIXIN (MEDIA QUERIES) **/
@mixin desktop {
  @media (min-width: #{$desktop}) {
    @content;
  }
}
/* HOW TO USE MIXIN */
/*
  .whateverElement{
    some scss before mixin

    @include desktop{
      putWhateverSCSS for the defined size
    }
  }
*/

/* END OF SCSS GUIDE */
/* -------------------------------------------------------------------- */

header {
  .flexParent {
    display: flex;
    flex-direction: row;
    width: 100%;
  }

  .flexChildren {
    width: 33%;
    height: 80px;
  }

  .locationContainer {
    i {
      padding-right: 10px;
    }

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .buttonWrapper {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }

  width: 100%;
  .example-spacer {
    flex: 1 1 auto;
  }

  #toolbar {
    height: 80px;
  }

  .logoWrapper {
    display: flex;
    align-items: center;
  }

  #logo {
    padding-top: 5px;
    height: 90px;
  }

  a {
    text-decoration: none;
  }
  .title {
    color: white;
    font-size: 2em;
  }
  .title:hover {
    color: black;
  }
  a:hover {
    color: black;
  }

  .links {
    color: white;
    font-family: 'Helvetica Neue', sans-serif;
    font-size: 15px;
    font-weight: initial;
    letter-spacing: -1px;
    line-height: 1;
    text-align: center;
    padding: 15px;
    &.side {
      padding: 0 14px;
    }
  }
  
  a {
    cursor: pointer;
  }

  #favorit_icon {
    padding-right: 2%;
    padding-bottom: 4%;
    width: 8%;
    //height: 8%;
  }

  #chat_icon {
    padding-right: 2%;
    padding-bottom: 4%;
    width: 8%;
    //height: 8%;
  }

  #login_icon {
    padding-right: 2%;
    padding-bottom: 4%;
    width: 8%;
  }
}
