<header>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <mat-toolbar id="toolbar" >
    <div class="flexParent">
      <div class="flexChildren">
        <div class="logoWrapper">
          <a [routerLink]="['/']">
            <img id="logo" src="../assets/Pals_LOGO.png" alt="Dogs" />
          </a>
        </div>
      </div>
      <div class="flexChildren locationContainer">
        <i class="material-icons md-18">location_on</i>
        <span>Flensburg</span>
      </div>
      <div class="flexChildren">
        <div class="buttonWrapper">
          <mat-icon id="chat_icon">chat_bubble</mat-icon>
          <mat-icon id="favorit_icon">favorite</mat-icon>
          <mat-icon id="login_icon" [routerLink]="['/auth/login']" *ngIf="!user">
           fingerprint
          </mat-icon> 
          <!--<button mat-stroked-button>
            <img src="../assets/baseline-chat_bubble-24px.svg" alt="notification">
          </button>
          <button mat-stroked-button>
            <img src="../assets/baseline-favorite-24px.svg" alt="favorits">
          </button>-->
          <!--<button mat-stroked-button color="primary" [routerLink]="['/auth/login']" *ngIf="!user">
          <img src="../assets/baseline-fingerprint-24px.svg" alt="login">
          </button>-->
          <div>
            <a class="links side" *ngIf="user" [matMenuTriggerFor]="menu">
              <mat-icon id="loggedInIcon">how_to_reg</mat-icon>{{ user.fullname }}
            </a>
            <mat-menu #menu="matMenu">
              <button
                mat-menu-item
                *ngIf="user && user.isAdmin"
                [routerLink]="['/admin']"
              >
                admin
              </button>
              <button mat-menu-item [routerLink]="['/profile']" color="primary">Profil</button>
              <button mat-menu-item (click)="logout()">logout</button>
            </mat-menu>
          </div>
        </div>
      </div>
    </div>
  </mat-toolbar>
</header>
