<meta name="viewport" content="width=device-width, initial-scale=1.0" />

<mat-card class="login-card">
  <div id="wrapper">
    <mat-card-title><img id="logo_login" src="../assets/Pals_LOGO.png" /></mat-card-title>
    <div id="header_register">Melde dich jetzt an und entdecke neue Clubs in deiner Stadt!</div>
  </div>
  <mat-card-content>
    <p>
      <mat-form-field appearance="outline" class="form_field">
        <mat-label class="label">E-Mail</mat-label>
        <input class="outline_field" matInput [(ngModel)]="email" name="email" required>
        <mat-icon id="icon" matSuffix>perm_identity</mat-icon>
        <mat-hint id="hint">E-Mail Adresse</mat-hint>
      </mat-form-field>
    </p>
    <p>
      <mat-form-field appearance="outline" class="form_field">
        <mat-label class="label">Passwort</mat-label>
        <input class="outline_field" matInput [(ngModel)]="password" type="password" name="password" required>
        <mat-icon id="icon" matSuffix>visibility</mat-icon>
        <mat-hint id="hint">Passwort</mat-hint>
      </mat-form-field>
    </p>
  </mat-card-content>

  <mat-card-actions>
    <button mat-raised-button (click)="login()" color="primary">Anmelden</button>
    <p>
      <span id="passwort">Passwort vergessen?</span>
    </p>
    <p>
      <span>
        Noch kein Konto?
        <a id="register" [routerLink]="['/auth/register']" color="primary">Jetzt Registrieren!</a>
      </span>
    </p>
  </mat-card-actions>
</mat-card>

<!--
<mat-card class="login-card-image">
  <img id="image_basketball" src="../assets/login_basketball.jpg" alt="login_basketball" />
</mat-card>
-->
