body {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #aebcc3;
}

.wrap {
  margin: 0 auto;
}

#backArrow {
  font-size: 3em;
  color: white;
  margin-left: 20px;
  margin-top: 20px;
  background-color: #37474f;
  width: 50px;
  height: 50px;
  border-radius: 1em;
}

#itemListContainer {
  margin: 0 auto;
  margin-top: 50px;
}
.newCard {
  padding-top: 130px;
  width: 170px;
  height: 270px;
  box-sizing: border-box;
  font-family: sans-serif;
  display: flex;
  border-radius: 0.9em;
  float: left;
  flex-direction: column;
  margin: 4%;
  background-size: cover;
  border: black;
  border-style: solid;
  border-width: 1px;
  background-color: white;

  .text {
    background-color: white;
    color: black;
  }
}

.card {
  padding-top: 130px;
  width: 170px;
  height: 270px;
  box-sizing: border-box;
  font-family: sans-serif;
  display: flex;
  border-radius: 0.9em;
  float: left;
  flex-direction: column;
  margin: 4%;
  background-size: cover;
  background-image: url(https://images.unsplash.com/photo-1523978591478-c753949ff840?w=900);
}

.clubname {
  padding: 0.4em;
  font-size: 100%;
}

.text {
  opacity: 0.8;
  background-color: #262626;
  height: 130px;
  border-bottom-left-radius: 0.9em;
  border-bottom-right-radius: 0.9em;
  color: white;
  text-align: center;
  padding: 12%;
}

@media only screen and (max-width: 768px) {
  .card {
    height: 400px;
    width: 250px;
    padding-top: 210px;
  }

  .text {
    height: 210px;
  }
}
