/*--------------------------------------------------------------------*/
//general features
.example-icon {
  padding: 0 14px;
}

.example-spacer {
  flex: 1 1 auto;
}

#hint {
  color: #aebcc3;
}

#icon {
  color: #aebcc3;
}

.login-card {
  background-color: #37474f;
  color: #aebcc3;
  width: 40%;
  margin: 10% auto;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
}

.label {
  color: #aebcc3;
}

.form_field {
  color: #aebcc3;
  width: 50%;
}

#register {
  color: #c11e5c;
}

#logo_login {
  width: 20%;
  height: 20%;
}

.outline_field {
  width: 50%;
}

a {
  color: #c11e5c;
}

//register-Card features
.register-card {
  background-color: #37474f;
  color: #aebcc3;
  width: 40%;
  margin: 10% auto;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
}

//Handy Ansicht
@media only screen and (max-width: 768px) {
  .register-card {
    width: 80%;
  }

  .login-card {
    width: 80%;
  }

  mat-card-content {
    margin: 0 auto;
  }

  #logo_login {
    width: 40%;
  }

  #header_register {
    font-size: 1.8em;
  }

  .mat-form-field-flex {
    display: inline-flex;
    align-items: center;
    box-sizing: border-box;
    width: 18em;
  }

  #back {
    font-size: 1.2em;
  }

  #registerButton {
    font-size: 1.5em;
  }
}
