#backArrow {
  font-size: 3em;
  color: white;
  margin-left: 20px;
  margin-top: 20px;
  background-color: #37474f;
  width: 50px;
  height: 50px;
  border-radius: 1em;
}

.card {
  width: 90%;
  height: 40em;
  display: flex;
  border-radius: 0.9em;
  flex-direction: row;
  margin: 4em;
  margin-top: 0em;
}

.image {
  background-color: #d8d8d8;
  border-top-left-radius: 0.9em;
  border-bottom-left-radius: 0.9em;
  width: 38%;
  background-size: cover;
}
.description {
  background-color: #ebebeb;
  width: 62%;
  border-bottom-right-radius: 0.9em;
  border-top-right-radius: 0.9em;
  color: #607d8b;
  padding: 0.9em;
  font-size: 0.9em;
}

#editClub,
#exitClub,
#isMember {
  float: right;
  color: #607d8b;
  font-size: 50px;
  margin-right: 30px;
}

.material-icons:hover {
  cursor: pointer;
}
.clubname {
  padding: 0.5em;
  font-size: 2.3em;
  color: #c11e5c;
}
.brief,
.category,
.owner,
.details {
  padding: 0.9em;
  margin-left: 1.5em;
  font-size: 1.4em;
}

.leftDiv {
  width: 60%;
  height: 16em;
  float: left;
  margin: 0 auto;
}
.meeting {
  float: right;
  height: 16em;
  width: 35%;
  padding: 2%;
  border-left: 0.2em solid #c11e5c;
}
.time,
.place,
.googleCal {
  padding: 0.5em;
}

.chat {
  width: 33em;
  height: 16em;
  float: left;
}

#joinClubButton {
  padding-top: 100px;
  text-align: center;
}

@media only screen and (max-width: 768px) {
  .card {
    width: 67%;
    height: 35em;
    margin: 0 auto;
    flex-direction: column;
  }

  .image {
    width: 100%;
    margin-top: 0%;
    height: 10em;
    border-bottom-left-radius: 0em;
    border-bottom-right-radius: 0em;
    border-top-right-radius: 0.9em;
  }
  .image img {
    height: 100%;
    width: auto;
  }

  .description {
    width: 100%;
    height: 24em;
    border-top-right-radius: 0em;
    border-bottom-right-radius: 0.9em;
    border-bottom-left-radius: 0.9em;
    padding: 0%;
  }
  .clubname {
    font-size: 1.3em;
    font-weight: bold;
    padding-bottom: 0.1em;
  }
  #editClub,
  #exitClub,
  #isMember {
    font-size: 30px;
    margin-right: 0.2em;
  }
  .brief,
  .category,
  .owner {
    font-size: 1em;
    margin-left: 0.9em;
    padding: 0.2em;
  }
  .details {
    font-size: 0.8em;
    padding: 0.3em;
  }
  .meeting {
    float: none;
    height: 5.2em;
    width: 91%;
    margin: 0 auto;
    padding: 0em;
    border-bottom: 0.15em solid #c11e5c;
    border-left: 0em;
  }

  .leftDiv {
    float: none;
    margin: 0 auto;
    width: 98%;
    height: 10em;
    padding: 1%;
  }

  .time,
  .place,
  .googleCal {
    padding: 0.3em;
  }

  #backArrow {
    font-size: 3em;
    margin-left: 20px;
    margin-top: 20px;
  }
  #joinClubButton {
    font-size: 1em;
    padding: 15% 5%;
  }
  .meta {
    display: flex;
    flex-direction: column-reverse;
  }
}
