<div>
  <mat-icon [routerLink]="['/']" id="backArrow">arrow_back</mat-icon>
</div>

<div class="card">
  <div class="image"></div>

  <div class="description">
    <div class="clubname">
      {{ club.name }}
      <mat-icon class="material-icons" id="editClub" *ngIf="isOwner" [routerLink]="['/editClub', club._id]">settings
      </mat-icon>
      <mat-icon class="material-icons" id="exitClub" *ngIf="isMember" (click)="exitClub()">exit_to_app</mat-icon>
      <mat-icon class="material-icons" id="isMember" *ngIf="isMember">favorite</mat-icon>
    </div>
    <div class="brief">
      {{ club.brief }}
    </div>
    <div class="category">
      Kategorie: {{ club.category }}
    </div>
    <div class="owner">
      Clubleiter: {{ club.administrator.fullname }}
    </div>
    <div class="details">
      {{ club.description }}
    </div>

    <div class="leftDiv">
      <div *ngIf="!isMember">
        <div id="joinClubButton">
          <button mat-stroked-button color="primary" (click)="joinClub()" class="submit">
            Club beitreten
          </button>
        </div>
      </div>

      <div *ngIf="isMember">
        Chat!
      </div>
    </div>

    <div class="meeting">
      <div class="time">
        Wann: {{club.time}}
      </div>
      <div class="place">
        Treffpunkt:
      </div>
      <a class="googleCal" [href]="googleCalendarEventUrl" target="_blank">Zu Google Calendar
        hinzufügen</a>
    </div>

  </div>
</div>
