<div>
  <mat-icon [routerLink]="['/']" id="backArrow">arrow_back</mat-icon>
</div>

<div class="card">
  <div class="description">
    <div class="clubname">
      {{club.name}}
      <i class="material-icons">
        settings
      </i>
      <i class="material-icons">
        exit_to_app
      </i>
      <i class="material-icons">
        favorite
      </i>
    </div>
    <div class="brief">
      {{club.brief}}
    </div>
    <div class="category">
      Kategorie
    </div>
    <div class="owner">
      Clubleiter
    </div>
    <div class="details">
      {{club.description}}
    </div>
    <div class="leftDiv">
      <div id="joinClubButton">
        <button mat-stroked-button color="primary" class="submit">
          Club beitreten
        </button>
      </div>
    </div>

    <div class="meeting">
      <div class="time">
        Wann: {{club.time}}
      </div>
      <div class="place">
        Treffpunkt:
      </div>
      <a class="googleCal" [href]="googleCalendarEventUrl" target="_blank">Zu Google Calendar
        hinzufügen</a>
    </div>

  </div>
</div>
