.card {
  width: 1200px;
  height: 600px;
  box-sizing: border-box;
  font-family: sans-serif;
  display: flex;
  border-radius: 0.9em;
  flex-direction: row-reverse;
  border-top-left-radius: 0.9em;
  border-top-right-radius: 0.9em;
  background-size: cover;
  background-image: url(https://images.unsplash.com/photo-1523978591478-c753949ff840?w=900);
}
.description {
  opacity: 0.8;
  background-color: #262626;
  width: 63%;
  border-bottom-right-radius: 0.9em;
  border-top-right-radius: 0.9em;
  color: white;
  padding: 0.9em;
  font-size: 0.9em;
}
.material-icons {
<<<<<<< HEAD
  float: right;
  color: white;
  font-size: 50px;
  margin: 0.5%;
=======
	float: right;
	color: white;
	font-size: 50px;
	margin: .5%;
}
	
.clubname {
    padding: .5em;
    font-size: 2.3em;
    color: #c11e5c;
>>>>>>> frontend
}

.clubname {
  padding: 0.5em;
  font-size: 2.3em;
  color: #c11e5c;
}
.brief,
.category,
.owner {
  padding: 0.9em;
  margin-left: 1.5em;
  font-size: 1.4em;
}
.details {
  padding: 0.9em;
  font-size: 1.1em;
}
.chat {
  width: 33em;
  height: 16em;
  float: left;
}
.meeting {
  float: right;
  height: 16em;
  width: 19em;
  border-left: 0.2em solid #c11e5c;
}
.time,
.place {
  padding: 0.5em;
}
@media only screen and (max-width: 768px) {
  .card {
    width: 325px;
    height: 550px;
    flex-direction: column-reverse;
  }
  .description {
    width: 300px;
    height: 360px;
    border-top-right-radius: 0em;
    border-bottom-right-radius: 0.9em;
    border-bottom-left-radius: 0.9em;
    opacity: 0.9;
  }
  .clubname {
    font-size: 1.3em;
    font-weight: bold;
  }
  .material-icons {
    font-size: 30px;
  }
  .brief,
  .category,
  .owner {
    font-size: 1em;
    margin-left: 0.9em;
    padding: 0.5em;
  }
  .details {
    font-size: 0.8em;
  }
  .meeting {
    float: none;
    height: 16em;
    width: 19em;
    padding-top: 0.3em;
    border-top: 0.15em solid #c11e5c;
    border-left: 0em;
  }

  .time,
  .place {
    margin: 0.5em;
  }
  .chat {
    display: none;
  }
}
<<<<<<< HEAD
=======
@media only screen and (max-width: 768px){
    .card {
        width: 325px;
        height: 550px;
        flex-direction: column-reverse;

    }
    .description {
        width: 300px;
        height: 360px;
        border-top-right-radius: 0em;
        border-bottom-right-radius: .9em;
        border-bottom-left-radius: .9em;
        opacity: 0.9;
    }
    .clubname {
        font-size: 1.3em;
        font-weight: bold;
    }
    .material-icons {
        font-size: 30px;
    }
    .brief, .category, .owner{
        font-size: 1em;
        margin-left: .9em;
        padding: .5em;
    }
    .details {
        font-size: .8em;
    }
    .meeting {
        float: none;
        height: 16em;
        width: 19em;
        padding-top: .3em;
        border-top: .15em solid #c11e5c;
        border-left: .0em;
    }
    
    .time, .place {
        margin: .5em;
    }
     .chat {
        display: none; 
    }
}
>>>>>>> frontend
