<body>

  <div class="card">
      <div class="description">
          <div class="clubname">
              Clubname
          </div>
          <div class="brief">
              Kurzbeschreibung
          </div>
          <div class="category">
              Kategorie
          </div>
          <div class="owner">
              Clubleiter
          </div>
          <div class="details">
              Lorem ipsum dolor sit amet, consectetur adipisici elit, sed eiusmod tempor incidunt ut labore et dolore
              magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquid ex ea
              commodi consequat.
          </div>

          <table>
              <tr>
                  <td class="chat">
                      Chat
                  </td>
                  <td class="meeting">
                      <div class="time">
                      Nächstes Treffen:
                      </div>
                      <div class="place">
                      Treffpunkt:
                      </div>
              </td>
              </tr>
          </table>

      </div>



  </div>

</body>