<body>

  <div class="card">

      <div class="description">

          <div class="header">
            Dein Profil bearbeiten
          </div>

          <div id="profileInfo">
            <mat-form-field class="profilInput">
              <textarea matInput placeholder="Vorname:"></textarea>
              <!--Hier soll der Vorname des Nutzers reingeladen werden.-->
            </mat-form-field>

            <mat-form-field class="profilInput">
              <textarea matInput placeholder="Nachname:"></textarea>
              <!--Hier soll der Vorname des Nutzers reingeladen werden.-->
            </mat-form-field>

            <mat-form-field class="profilInput">
              <textarea matInput placeholder="E-Mail-Adresse:"></textarea>
              <!--Hier soll der Vorname des Nutzers reingeladen werden.-->
            </mat-form-field>
          </div>

          <div id="buttonChangeProfile">
            <button mat-stroked-button color="primary" class="submit" > Profil speichern </button>
            <!--route anlegen für profil bearbeiten-->
          </div>
          
      </div>

  </div>

</body>

