.card {
  width: 90%;
  height: 30em;
  display: flex;
  flex-direction: row;
  margin: 4em;
  margin-top: 0em;
  color: #37474F;
}

.image {
  background-color: #D8D8D8;
  border-top-left-radius: 0.9em;
  border-bottom-left-radius: 0.9em;
  width: 30%;
  display: flex;
}

.description {
  background-color: #EBEBEB;
  border-top-right-radius: 0.9em;
  border-bottom-right-radius: 0.9em;
  width: 70%;
  display: flex;
  flex-direction: column;
}

.header {
  text-align: center;
  font-size: 2em;
  padding-top: 1em;
  padding-bottom: 0.5em;
  color: #607D8B;
}

#buttonChangeProfile {
  text-align: center;
  margin-top: 1.5em;
}

#profileInfo {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  margin-top: 30px;
  width: 20em;
  color: #607D8B;
}

#backArrow {
  font-size: 3em;
  color: white;
  margin-left: 20px;
  margin-top: 20px;
  background-color: #37474F;
  width: 50px;
  height: 50px;
  border-radius: 1em;
}

#backArrow:hover {
  cursor: pointer;
}

mat-label {
    color: #607D8B;
}

mat-form-field {
  color: #607D8B;
}

@media only screen and (max-width: 768px) {
  .card {
    width: 90%;
    flex-direction: column;
    margin: 0 auto;
    margin-bottom: 20px;
  }

  .image {
    border-top-left-radius: 0.9em;
    border-top-right-radius: 0.9em;
    width: 100%;
    height: 40em;
  }
  
  .description {
    border-bottom-right-radius: 0.9em;
    border-bottom-left-radius: 0.9em;
    width: 100%;
  }

  #buttonChangeProfile {
    margin: 0em;
    margin-bottom: 20px;
  }
}
