<div>
  <mat-icon [routerLink]="['/']" id="backArrow">arrow_back</mat-icon>
</div>

<div class="card">
  <div class="image">
    <img id="ppicture" src="../assets/Teddy-bear-looking-for-a-friend.jpg" alt="Profilbild" />
  </div>

  <div class="description">
    <div class="header">
      Dein Profil
    </div>

    <div id="profileInfo">
      <div id="firstName">Vorname: {{ userSplit[0] }}</div>
      <div id="secondName">Nachname: {{ userSplit[1] }}</div>
      <div id="email">E-Mail-Adresse: {{ email }}</div>
    </div>

    <div id="buttonChangeProfile">
      <button id="reviseProfile" mat-stroked-button [routerLink]="['/changeProfile']" color="primary" class="submit">
        Profil bearbeiten
      </button>
    </div>
  </div>
</div>
