body {
    background-color: #fcb6d1;
}

.card {
  width: 90%;
  height: 30em;
  display: flex;
  flex-direction: row;
  margin: 4em;
  margin-top: 0em;
  color: white;
}

.image {
  background-color: gray;
  border-top-left-radius: 0.9em;
  border-bottom-left-radius: 0.9em;
  width: 30%;
  display: flex;
}

.description {
  background-color: #262626;
  border-top-right-radius: 0.9em;
  border-bottom-right-radius: 0.9em;
  width: 70%;
  display: flex;
  flex-direction: column;
}

.header {
  text-align: center;
  font-size: 2em;
  padding-top: 1em;
  padding-bottom: 0.5em;
  color: #c11e5c;
}

#buttonChangeProfile {
  text-align: center;
  margin-top: 1.5em;
}

#profileInfo {
  display: flex;
  flex-direction: column;
  align-items: left;
  padding: 5em;
}

#firstName {
  font-size: 1.2em;
}

#secondName {
  margin-top: 30px;
  font-size: 1.2em;
}

#email {
  margin-top: 30px;
  font-size: 1.2em;
}

#backArrow {
  font-size: 3em;
  margin-left: 20px;
  margin-top: 20px;
}

#backArrow:hover {
  cursor: pointer;
}

@media only screen and (max-width: 768px) {
  .card {
    width: 80%;
  }
}
