/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/pink-bluegrey.css';
@import '~angular-tree-component/dist/angular-tree-component.css';
@import '~@angular/material/theming';
@import '~dragula/dist/dragula.css';

$custom-typography: mat-typography-config(
  $font-family: 'Exo'
);

mat-hint {
  color: black;
}
.mat-form-field-appearance-standard .mat-form-field-underline {
  height: 1px;
  background-color: #607d8d;
}

.mat-form-field-appearance-legacy .mat-form-field-underline {
  height: 1px;
  background-color: #607d8d;
}

.mat-select-placeholder {
  color: #607d8d;
}

.mat-input-element::placeholder {
  color: #607d8d;
}
.mat-input-element::-moz-placeholder {
  color: #607d8d;
}
.mat-input-element::-webkit-input-placeholder {
  color: #607d8d;
}
.mat-input-element:-ms-input-placeholder {
  color: #607d8d;
}

::placeholder {
  color: #607d8d;
}

/* When the input is not focused */
md-input-container label {
  color: #607d8d;
}

/* When the input is focused */
md-input-container.md-input-focused label {
  color: #607d8d;
}

@include mat-core($custom-typography);

body {
  background-color: #cdd8dd;
  color: #607d8d;
  margin: 0;
  app-root * {
    font-family: 'Exo', sans-serif;
  }
}

$colors: (
  primary: #37474f,
  secondary: #607d8d,
  accent: #c11e5c,
  warn: #f44539
);
