<body>

  <div class="card">

      <div class="description">

          <div class="header">
              Erstelle deinen eigenen Club:
          </div>

          <div class="clubname">
              Clubname:
              <input type="text">
          </div>
          <div class="clubthema">
              Clubthema:
              <input type="text">
          </div>
          <div class="beschreibung">
              Beschreibung:
              <input type="text">
          </div>
          <div class="kategorien">
              Kategorie:
              <select>
                      <option value="kategorie1">Test</option>
                      <option value="kategorie2">Test</option>
                      <option value="kategorie3">Test</option>
                  </select>
          </div>

          <div class="submit">
              <button class="button" type="button">Club erstellen</button>
          </div>
          
      </div>

  </div>

</body>
