.card {
  width: 90%;
  height: 40em;
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  margin-top: 0em;
  color: #607d8b;
}

.profilImage {
  background-color: #d8d8d8;
  border-top-left-radius: 0.9em;
  border-bottom-left-radius: 0.9em;
  width: 30%;
  display: flex;
  flex-direction: column;
}

#cButton {
  margin-left: 20px;
}

.description {
  background-color: #ebebeb;
  border-top-right-radius: 0.9em;
  border-bottom-right-radius: 0.9em;
  width: 70%;
  display: flex;
  flex-direction: column;
  color: #607d8b;
}

.header {
  text-align: center;
  font-size: 2em;
  padding-top: 1em;
  padding-bottom: 0.5em;
  color: #37474f;
}

#pictureText {
  font-size: 1.9em;
  text-align: center;
  padding-top: 5em;
  padding-bottom: 4em;
}

.submit {
  font-size: 1.3em;
}

#loadButton {
  margin: 0 auto;
  color: #37474f;
}

#altText {
  text-align: center;
  font-size: 1.5em;
}

#createClubInfo {
  padding: 30px;
  display: flex;
  flex-direction: column;
  width: 25em;
  margin: 0 auto;
}

#createClubButton {
  margin: 0 auto;
  margin-top: 2em;
}

#backArrow {
  font-size: 3em;
  color: white;
  margin-left: 20px;
  margin-top: 20px;
  background-color: #37474f;
  width: 50px;
  height: 50px;
  border-radius: 1em;
}

#backArrow:hover {
  cursor: pointer;
}

#showButton {
  text-decoration: none;
  background-color: #607d8b;
  border: none;
  width: 100%;
}

#newKategorie {
  width: 25em;
}

mat-label {
  color: #607d8b;
}

mat-select {
  color: #607d8b;
}

@media only screen and (max-width: 768px) {
  #newKategorie {
    display: flex;
    flex-direction: column;
    width: 100%;

    #cButton {
      margin-left: 0;
      margin-bottom: 10px;
    }
  }

  .card {
    width: 90%;
    flex-direction: column;
    margin: 0 auto;
    margin-bottom: 20px;
  }

  .profilImage {
    border-top-left-radius: 0.9em;
    border-top-right-radius: 0.9em;
    border-bottom-left-radius: 0em;
    width: 100%;
    height: 40em;
  }

  .description {
    border-bottom-right-radius: 0.9em;
    border-bottom-left-radius: 0.9em;
    border-top-right-radius: 0em;
    width: 100%;
    margin-bottom: 20px;
  }

  #buttonChangeProfile {
    margin: 0em;
    margin-bottom: 20px;
  }

  #createClubInfo {
    width: 15em;
    padding-bottom: 0em;
  }

  #loadButton {
    margin-bottom: 20px;
  }

  #createClubButton {
    margin-top: 0em;
    margin-bottom: 50px;
  }

  #backArrow {
    margin-bottom: 10px;
  }
}
