<div>
  <mat-icon [routerLink]="['/']" id="backArrow">arrow_back</mat-icon>
</div>
<div class="card">

  <div class="profilImage">
    <div id="pictureText">
      <p>
        Das Clubbild erstellen wir für euch passend zur Kategorie.
      </p>
    </div>

    <div id="altText">
      <p>
        Alternativ kann es selber gewählt werden.
      </p>
    </div>

    <div id="loadButton">
      <button mat-stroked-button class="submit" color="secondary">
      Clubbild auswählen
      </button>
    </div>
  </div>

  <div class="description">
    <div class="header">
      Erstelle deinen eigenen Club:
    </div>

    <div id="createClubInfo" ng-if="false">
      <mat-form-field appearance="standard">
        <mat-label>Clubname: *</mat-label>
        <input matInput [formControl]="name" type="text" required />
      </mat-form-field>

      <mat-form-field appearance="standard">
        <mat-label>Club-Thema:</mat-label>
        <input matInput [formControl]="brief" type="text" required />
      </mat-form-field>

      <mat-form-field appearance="standard">
        <mat-label>Beschreibung: *</mat-label>
        <input matInput [formControl]="description" type="text" required />
      </mat-form-field>

      <mat-form-field>
        <mat-label>Kategorie</mat-label>
        <mat-select #selected [formControl]="category">
          <mat-option *ngFor="let category of categories" [value]="category.name">
            {{ category.name }}
          </mat-option>
          <button (click)="neue = !neue" id="showButton">
            <mat-option placeholder="Kategorie">
              {{ show ? '' : 'neue' }}
              Kategorie anlegen
            </mat-option>
          </button>
        </mat-select>
      </mat-form-field>

      <div *ngIf="neue" id="newKategorie">
        <mat-form-field>
          <mat-label>Neue Kategorie:</mat-label>
          <textarea matInput #categoryInput (keydown.enter)="addCategory(categoryInput.value)"
            (keyup.enter)="neue=!neue"></textarea>
        </mat-form-field>
        <button mat-stroked-button id="cButton" (click)="addCategory(categoryInput.value)" (click)="neue = !neue"
          (click)="selected.value = categoryInput.value" color="secondary" class="submit">
          Kategorie erstellen
        </button>
      </div>

    </div>
    <div id="createClubButton">
      <button mat-stroked-button (click)="createClub()" color="primary" class="submit">
        Club erstellen
      </button>
    </div>
  </div>
</div>
