  <div class="search">
    <mat-form-field class="searchByText" appearance="standard">
      <mat-label>Club suchen</mat-label>
      <input (keyup)="onKey($event)" [formControl]="name" matInput placeholder="">
    </mat-form-field>

    <!-- Suchfeld für Freitextsuche und Filterung nach Kategorien -->
    <mat-form-field class="searchByCategory">
      <mat-label>Nach Kategorie suchen</mat-label>
      <mat-select (selectionChange)="onChange($event)" [formControl]="category">
        <mat-option *ngFor="let category of categories" [value]="category.name">
          {{ category.name }}
        </mat-option>
        <mat-option [value]=null>
          Alle Kategorien
        </mat-option>
      </mat-select>
    </mat-form-field>

  </div>

  <div id="itemListContainer">

    <!-- Kachel für das Hinzufügen von Clubs, nur für angemeldete Nutzer -->
    <div *ngIf="loggedIn" [routerLink]="['createClub']">
      <div id="addClub">
        <app-add-club></app-add-club>
      </div>
    </div>

    <!-- Container für die einzelnen Club-Kacheln -->
    <div class="container">
      <div *ngFor="let club of clubs" [routerLink]="['detailedClub/', club._id]" class="card"
        [ngStyle]="{ 'background-image': 'url(' + club.imgURL + ')'}">
        <div class="text">
          <div class="clubname">
            {{club.name}}
          </div>
          <div class="description">
            {{club.brief}}
          </div>
        </div>
      </div>
    </div>

  </div>
