<!-- Der Nachrichten-Container ist das Chat-Fenster, in dem die Nachrichten dargestellt werden. 
Um zwischen eigenen und fremden Nachrichten differenzieren zu können, gibt es es eine Abfrage 
und zwei verschiedene ngClasses. So können eigene und fremde Nachrichten im CSS unterschiedlich 
gestyled werden. Für jede Nachricht aus "messages" wird der Versender und der Text angezeigt. -->
<div class="container">
  <div class="messages">
    <p *ngFor="let message of messages"
      [ngClass]="{ foreignMessage: message.sender.name !== currentUser.email, ownMessage: message.sender.name === currentUser.email }">
      <i>{{ message.sender.uid }}</i> <br /> {{ message.text }}
    </p>
  </div>

  <div class="messageInput">
    <input type="text" placeholder="Nachricht eingeben" #messageText (keydown.enter)="sendMessage(messageText.value);
      messageText.value=''" />
    <button (click)="sendMessage(messageText.value); messageText.value=''">
      Senden
    </button>
  </div>
</div>
